<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
 <head>
   <title>!DOCTYPE</title>
   <meta charset="utf-8">
 </head>
 <body>
    <input type="text" name="text_search">looking for id</input></br>
    <button type="button" name="btn_search">Search</button></br>
    <button type="button" name="btn_all">show all</button></br>
    <h2>Company</h2>
    <input type="checkbox" name="Apple"> Apple </input></br>
     <input type="checkbox" name="Xiaomi"> Xiaomi </input></br>
     <input type="checkbox" name="Samsung"> Samsung </input></br>
     <input type="checkbox" name="Huawei"> Huawei </input></br>
    <h2>Price</h2>
    from <input type="text" name="text_price_low" ></input>
    to <input type="text" name="text_price_high"></input></br>
 </body>
</html>